//
//  AppDelegate.m
//  {{ project_name }}
//
//  Created by {{ author_name }} on {{ date }}.
//  Copyright (c) {{ year }} {{ author_name }}. All rights reserved.
//

#import <UIKit/UIKit.h>

@interface AppDelegate : UIResponder <UIApplicationDelegate>

@property (strong, nonatomic) UIWindow *window;

@end