Package: {{ organization_name }}.{{ project_name }}
Name: {{ project_name }}
Depends: firmware (>= 3.0)
Architecture: iphoneos-arm
Description: An awesome package
Homepage: https://yzu.moe
Maintainer: {{ author_name }}
Author: {{ author_name }}