<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>keychain-access-groups</key>
        <array>
                <string>{{ organization_name }}.{{ project_name }}</string>
        </array>
        <key>task_for_pid-allow</key>
        <true/>
        <key>get_task_allow</key>
        <true/>
        <key>run-unsigned-code</key>
        <true/>
        <key>application-identifier</key>
        <string>{{ organization_name }}.{{ project_name }}</string>
</dict>
</plist>